{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $('#txtDOB').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });


</script>
{{/section}}

<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Great to have you   join with us!</h5>
                    </div>

                    <form method="POST" id="frmRegister">
                        <div class="form-group">
                        
                          <input type="text" class="form-control" id="txtUserID" name="UserID" readonly value="{{this.user.UserID}}">
                        </div>
                        <div class="form-group">
                          <label for="">email</label>
                            <input type="email" class="form-control" id="txtEmail" name="email" value="{{this.user.EmailAdress}}">
                        </div>
                        <div class="form-group">
                          <label for="">Full Name</label>
                            <input type="text" class="form-control" id="txtFullname" name="fullname" value="{{this.user.FullName}}">
                        </div>
                        <div class="form-group">
                          <label for="">Phone</label>
                            <input type="text" class="form-control" id="txtPhone" name="phone" value="{{this.user.Phone}}">
                        </div>
                        <div class="form-group">
                          <label for="">Date of birth</label>
                            <input type="text" class="form-control" id="txtDOB" name="dob" value="{{this.user.DOB}}">
                        </div>
                        <div class="form-group">
                          <label for="">User name</label>
                            <input type="text" class="form-control" id="txtUserName" name="username" value="{{this.user.UserName}}">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                            </div>
                        </div>
                        <button type="submit" class="btn mag-btn mt-30"  formaction="/account/profile/update">
                            
                            Save
                            
                        </button>
                        <div class="form-group"> 
                          <a href="/" class="">back</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>