
    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        <!-- Trending Now Posts Area -->
        <div class="trending-now-posts mb-30 ">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>TRENDING NOW</h5>
            </div>

            <div class="trending-post-slides owl-carousel">
                <!-- Single Trending Post -->
                {{#each this.post}}
                <div class="single-trending-post ">
                    <img src="{{HasAvatar}} " alt="">
                    <div class="post-content">
                        <a href="/posts/{{PostID}}" class="post-cata"> {{Abtract}} </a>
                        <a href="video-post.html" class="post-title"></a>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>

        <!-- Feature Video Posts Area -->
        <div class="feature-video-posts mb-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Top 10 Most views</h5>
            </div>

            <div class="featured-video-posts">
                <div class="row">
                    {{#each this.catmostview}}
                    <div class="col-sm-6">
                        <!-- Single Featured Post -->
                        <div class="single-featured-post">
                            <!-- Thumbnail -->

                            <div class="featured-video-posts-slide owl-carousel">

                                <div class="single--slide">
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-100   ">
                                        <div class="post-thumbnail">
                                            <img src=" {{HasAvatar}} " alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="/posts/{{PostID}}" class="post-title"> {{Abtract}} </a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{Views}} </a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                    {{Ranks}} </a>
                                            </div>
                                
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <!-- Most Viewed Videos -->
        <div class="most-viewed-videos mb-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>New Posts</h5>
            </div>

            <div class="most-viewed-videos-slide owl-carousel">

                {{#each this.newpostbycat}}
                <div class="single-blog-post style-4">

                    <div class="post-thumbnail">
                        <img src=" {{HasAvatar}} " alt="">
                    </div>
                    <div class="post-content mb-30">
                        <a href="/posts/{{PostID}}" class="post-title"> {{Abtract}} </a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{Views}} </a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{Ranks}} </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
