    <section class="post-details-area">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-xl-8">
                    <div class="post-details-content bg-white mb-30 p-30 box-shadow">
                        <div class="blog-thumb mb-30">
                            <img src="/public/img/bg-img/50.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="post-meta">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive.html">lifestyle</a>
                            </div>
                            {{#if lcAuthUser}}
                                {{#if (isPremium lcAuthUser)}}
                                    <b>tải về</b>
                                {{/if}}
                            {{/if}}
                            
                            
                            <h4 class="post-title">{{this.post.Abtract}}</h4>
                            {{!-- tag list --}}
                            <label for=""> <i>tag:</i> </label>
                            {{#each this.tag as |alias|}}
                                <label for="" style="background-color: brown;">
                                    <a href="/post/byTag/{{TagID}}">{{Name}}</a>
                                </label> &nbsp;&nbsp;
                            {{/each}}

                            <!-- Post Meta -->
                            <div class="post-meta-2">
                                <input type="hidden" name="" id="txtPostID" value="{{this.post.PostID}}">
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{{this.post.Views}}</a>
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{this.post.Ranks}}</a>
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{this.post.num_of_com}}</a>
                            </div>
                            {{{this.post.PostContent}}}

                            <!-- Post Author -->
                            <div class="post-author d-flex align-items-center">
                                <div class="post-author-thumb">
                                    <img src="/public/img/bg-img/52.jpg" alt="">
                                </div>
                                <div class="post-author-desc pl-4">
                                    <a href="#" class="author-name">Alan Shaerer</a>
                                    <p>Duis tincidunt turpis sodales, tincidunt nisi et, auctor nisi. Curabitur vulputate sapien eu metus ultricies fermentum nec vel augue. Maecenas eget lacinia est.</p>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                    </div>
                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>COMMENTS</h5>
                        </div>
                        <ol id="commentArea">
                            <!-- Single Comment Area -->
                            
                            <!-- Single Comment Area -->
                            {{#each this.comment as |alias|}}
                                <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="/public/img/bg-img/{{User}}.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="comment-date">{{CommentDate}}</a>
                                        <h6>{{UserName}}</h6>
                                        <p>{{CommentContent}}</p>
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="like">like</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                            
                        </ol>
                    </div>
    
                    <!-- Post A Comment Area -->
                    {{#if lcIsAuthenticated}}
                        <div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
                        <!-- Section Title -->
                            <div class="section-heading">
                                <h5>LEAVE A REPLY</h5>
                            </div>
                            <!-- Reply Form -->
                            <div class="contact-form-area">
                                <form method="POST" id="frmComment">
                                    <div class="row">
                                        <div class="col-12">
                                            
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message*" required></textarea>
                                        </div>
                                        <input type="hidden" name="" id="txtUser" value="{{lcAuthUser.UserID}}">
                                    </div>
                                    <input type="submit" class="btn mag-btn mt-30" value="Submit Comment">
                                </form>
                            </div>
                        </div>
                    {{else}}
                        <div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
                            <h5>YOU HAVE TO LOGIN TO LEAVE A REPLY</h5>
                        </div>
                    {{/if}}
                </div>
           
                <!-- Sidebar Widget -->
            {{!-- </div> --}}
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <!-- Social Followers Info -->
                        <div class="social-followers-info">
                            <!-- Facebook -->
                            <a href="#" class=" book-fans"><i class="fa fa-facebook"></i> 4,360 <span>Fans</span></a>
                            <!-- Twitter -->
                            <a href="#" class="twitter-followers"><i class="fa fa-twitter"></i> 3,280 <span>Followers</span></a>
                            <!-- YouTube -->
                            <a href="#" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1250 <span>Subscribers</span></a>
                            <!-- Google -->
                            <a href="#" class="google-followers"><i class="fa fa-google-plus"></i> 4,230 <span>Followers</span></a>
                        </div>
                    </div>

                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Categories</h5>
                        </div>
                        <ul class="catagory-widgets">
                            {{#each lcAllcatdetail }}
                                <li>
                                    <a href="/post/byCat/{{CatID}}"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{CatName}}  </span>
                                    {{#if num_of_posts}}
                                        <span>
                                            {{num_of_posts}}
                                        </span>
                                    {{/if}}
                                        
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>

                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget">
                        <a href="#" class="add-img"><img src="/public/img/bg-img/add2.png" alt=""></a>
                    </div>

                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Hot Channels</h5>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex">
                            <div class="youtube-channel-thumbnail">
                                <img src="/public/img/bg-img/14.jpg" alt="">
                            </div>
                            <div class="youtube-channel-content">
                                <a href="single-post.html" class="channel-title">TV Show</a>
                                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                            </div>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex">
                            <div class="youtube-channel-thumbnail">
                                <img src="/public/img/bg-img/15.jpg" alt="">
                            </div>
                            <div class="youtube-channel-content">
                                <a href="single-post.html" class="channel-title">Game Channel</a>
                                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                            </div>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex">
                            <div class="youtube-channel-thumbnail">
                                <img src="/public/img/bg-img/16.jpg" alt="">
                            </div>
                            <div class="youtube-channel-content">
                                <a href="single-post.html" class="channel-title">Sport Channel</a>
                                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                            </div>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex">
                            <div class="youtube-channel-thumbnail">
                                <img src="/public/img/bg-img/17.jpg" alt="">
                            </div>
                            <div class="youtube-channel-content">
                                <a href="single-post.html" class="channel-title">Travel Channel</a>
                                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                            </div>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex">
                            <div class="youtube-channel-thumbnail">
                                <img src="/public/img/bg-img/18.jpg" alt="">
                            </div>
                            <div class="youtube-channel-content">
                                <a href="single-post.html" class="channel-title">LifeStyle Channel</a>
                                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
                            </div>
                        </div>

                    </div>

                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Newsletter</h5>
                        </div>

                        <div class="newsletter-form">
                            <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                            <form action="#" method="get">
                                <input type="search" name="widget-search" placeholder="Enter your email">
                                <button type="submit" class="btn mag-btn w-100">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        
    </section>