<style>
    .sidebar {
        position: fixed;
        background-color: black;
        height: 100%;
        z-index: 1;
        left: 0;
        overflow-x: hidden;
        width: 250px;
    }

    .sidebar a {

        margin: 10px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
    }

    .sidebar a:hover {
        color: #ed3974;
    }

    .card {
        margin-left: 255px;
    }
    .content {
        background-color: aliceblue;
        position: absolute;
        display: none;
        width: 300px;
        top: 50%;
        left: 60%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }
</style>
<div class="sidebar">
    <h3 style="color: white; text-align:center ;">Menu</h3>
    <a href="/admin/publish/post1"> <i class="fa fa-check"></i>&nbsp; Đã duyệt</a>
    <a href="/admin/publish/post2"><i class="fa fa-spinner"></i>&nbsp; Đang chờ duyệt</a>
    <a href="/admin/publish/post3"><i class="fa fa-times"></i> &nbsp; Không được duyệt</a>
</div>

<div class="content" id="content">
    <form method="POST">
        <div class="formgroup" style="margin: 10px;">
            <label for="exampleInputreason">Author</label>
            <input style="height: 30px;" readonly class="form-control" id="author" name="author" type="text">
            <label for="exampleInputreason">UserID</label>
            <input style="height: 30px;" readonly class="form-control" id="userid" name="userid" type="text">
        </div>
        <div class="formgroup" style="margin: 10px;">
            <label for="exampleInputreason">PostID</label>
            <input style="height: 30px;" readonly class="form-control" id="postid" name="postid" type="text">
        </div>
        <div class="formgroup" style="margin: 10px;">
            <label for="exampleInputreason">PostDate</label>
            <input style="height: 30px;" readonly class="form-control" id="postdate" name="postdate" type="text">
        </div>
        <div class="formgroup" style="margin: 10px;">
            <label for="exampleInputreason">Reason</label>
            <input style="height: 100px;" class="form-control" id="reason" name="reason" type="text">
        </div>
        <div class="button" style="float: right; margin: 10px;">
            <button style="font-family: cursive; color: white;" formaction="/admin/publish/cancel" type="submit"
                id="submit" class="btn btn-primary">Hủy Duyệt</button>
            <button style="font-family: cursive; color: white;" type="button" onclick="HideFormContent()" id="cancel"
                class="btn btn-danger">Hủy</button>
        </div>
    </form>
</div>


<div class="card card">
    <div class="card-header">
        <h4  style="text-align: center;">Danh Sách Các Bài Viết Đang Chờ Duyệt</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Abtract</th>
                    <th scope="col">Author</th>
                    <th scope="col">PostDate</th>
                    <th scope="col">Status</th>
                    <th scope="col">view</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.allpost2}}
                <tr>
                    <th scope="row">{{PostID}}</th>
                    <td>{{Abtract}}</td>
                    <td>{{FullName}}</td>
                    <td>{{format_date PostDate}}</td>
                    <td>{{Status}}</td>
                    <td><a href="/admin/publish/success2/{{PostID}}" class="btn btn-success">Duyệt</a>
                    <button id="cancel" class="btn btn-danger">Hủy</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script type="text/javascript">
    function HideFormContent(){
         document.getElementById("content").style.display = "none";
    }
     $('.table tbody').on('click', '#cancel', function adduser() {

        document.getElementById("content").style.display = "inline-block";
        var currow = $(this).closest('tr');
        var col = currow.find('th:eq(0)').text();
        var col1 = currow.find('td:eq(1)').text();
        var col2 = currow.find('td:eq(2)').text();
        var col3 = currow.find('td:eq(3)').text();
        document.getElementById('author').value = col1;
        document.getElementById('postid').value = col;
        document.getElementById('postdate').value = col2;
        document.getElementById('userid').value = col3;
    })
</script>