<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/public/img/core-img/title.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .add_subcat {
            background-color: #ed3974;
            position: absolute;
            font-family: cursive;
            width: 500px;
            height: 380px;
            display: none;
            left: 60%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        .update_subcat {
            background-color: #ed3974;
            position: absolute;
            font-family: cursive;
            width: 500px;
            height: 300px;
            display: none;
            left: 60%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        h3 {
            text-align: center;
            font-family: cursive
        }

        form {
            margin: 10px;
        }
    </style>
</head>

<body>

    <header class="header-area">
        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="/admin" class="nav-brand"><img src="/public/img/core-img/logo.png" width="50" height="50"
                            alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="/admin/users">Users</a></li>
                                    <li><a href="/admin/categories/1">Categories</a></li>
                                    <li><a href="/admin/publish">Publish</a></>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <div class="top-meta-data d-flex align-items-center">
                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form action="index.html" method="post">
                                    <input type="search" name="top-search" id="topSearch"
                                        placeholder="Search and hit enter...">
                                    <button type="submit" class="btn"><i class="fa fa-search"
                                            aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <!-- Login -->
                            <form id="frmLogout" action="/account/logout" method="POST"></form>
                            {{#if lcIsAuthenticated}}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <b>{{lcAuthUser.UserName}}!</b>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/account/profile/{{lcAuthUser.UserID}}">Profile</a>
                                    <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Logout
                                    </a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            {{else}}
                            <a href="/account/login" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
                            <a href="/account/register" class="login-btn"><i class="fa fa-plus"
                                    aria-hidden="true"></i></a>
                            {{/if}}


                            <a href="" class="submit-post"><span><i class="fa fa-cloud-upload"></i></span> <span
                                    class="video-text">Submit Post</span></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/public/img/bg-img/49.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Quản Lý Categories</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="categories-content">

        <!-- Modal -->
        <form method="POST" action="/admin/categories/add">
            <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="mymodel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Categories</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" <label for="CatID">CatName</label>
                                <select name="CatID" class="form-control" id="loadcat">
                                    {{#each this.loadcat}}
                                    <option value="{{CatID}}">{{CatName}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group" <label for="SubCatID">SubCatName</label>
                                <input type="text" id="namesub" class="form-control" name="SubCatName">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Save
                                changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <!-- Modal -->
        <form method="POST" action="/admin/categories/update">
            <div class="modal fade" id="modalupdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Categories</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" <label for="exampleInputEmail1">SubID</label>
                                <input type="text" readonly id="SubCatID" class="form-control" name="SubCatID">
                            </div>
                            <div class="form-group" <label for="exampleInputEmail1">SubCatName</label>
                                <input type="text" id="SubCatName" class="form-control" name="SubCatName">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Save
                                changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form method="POST" action="/admin/categories/AddCat">
            <div class="modal fade" id="addcat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Categories</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" <label for="exampleInputEmail1">CatName</label>
                                <input type="text" id="CatName" class="form-control" name="CatName">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Save
                                changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>



        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="overflow: auto;">
                        <div class="card-header d-flex justify-content-between">
                            <h4>Categories</h4>
                            <button class="btn btn-outline-success" type="button" role="button" id="addsub"
                                data-toggle="modal" data-target="#addcat">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add Categories
                            </button>
                        </div>
                        <div class="list-group list-group-flush">
                            {{#each lccategories}}
                            <a href="/admin/categories/{{CatID}}"
                                class="list-group-item list-group-item-action  {{#if isActive}}active{{/if}}">
                                {{CatName}}
                                <span class="badge badge-danger float-right">{{countcat}}</span>
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h4>Sub-Categories</h4>
                            <button class="btn btn-outline-success" type="button" role="button" id="addsub"
                                data-toggle="modal" data-target="#mymodal">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add Sub_Category
                            </button>
                        </div>
                        {{#if this.empty}}
                        <div class="card-body">
                            <p class="card-text">Không có dữ liệu.</p>
                        </div>
                        {{else}}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">#</th>
                                    <th scope="col">Sub</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.allbycat}}
                                <tr>
                                    <th scope="row" class="text-center">{{SubCatID}}</th>
                                    <td>{{SubCatName}}</td>
                                    <td class="text-right">
                                        <button class="btn btn-primary btn-sm" id="editsub" role="button"
                                            title="Edit Category" data-toggle="modal" data-target="#modalupdate">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        <a class="btn btn-danger btn-sm" id="deletesub"
                                            href="/admin/categories/del/{{CatID}}/{{SubCatID}}/{{Status}}" role="button"
                                            title="delete Category">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{/if}}
                        <div class="card-footer text-muted">
                            Footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <!-- Logo -->
                        <a href="/" class="foo-logo"><img src="/public/img/core-img/logo.png" width="50" height="50"
                                alt=""></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <div class="footer-social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">Categories</h6>
                        <nav class="footer-widget-nav">
                            <ul>
                                {{#each lcAllcatdetail as |alias|}}
                                <li><a href="/post/byCat/{{CatID}}"><i class="fa fa-angle-double-right"
                                            aria-hidden="true"></i> {{CatName}}</a></li>
                                {{/each}}

                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">Sport Posts</h6>
                        <!-- Single Blog Post -->
                        <div class="single-blog-post style-2 d-flex">
                            <div class="post-thumbnail">
                                <img src="/public/img/bg-img/12.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">Take A Romantic Break In A Boutique
                                    Hotel</a>
                                <div class="post-meta d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog Post -->
                        <div class="single-blog-post style-2 d-flex">
                            <div class="post-thumbnail">
                                <img src="/public/img/bg-img/13.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">Travel Prudently Luggage And Carry On</a>
                                <div class="post-meta d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">Channels</h6>
                        <ul class="footer-tags">
                            {{#each lcAllSubCat as |alias|}}
                            <li><a href="#">{{SubCatName}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-6">
                        <p class="copywrite-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Advertisement</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<script type="text/javascript">
    function HideForm() {
        document.getElementById("formadd").style.display = "none";
    }

    function HideFormEdit() {
        document.getElementById("formedit").style.display = "none";
    }


    $('.table tbody').on('click', '#editsub', function () {

        var currow = $(this).closest('tr');
        var col = currow.find('th:eq(0)').text();
        var col1 = currow.find('td:eq(0)').text();
        document.getElementById('SubCatID').value = col;
        document.getElementById('SubCatName').value = col1;
    })
</script>

</html>